## Calculating Portfolio Risk

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from *MSFT_AAPL_2000_2017.csv*.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('MSFT_AAPL_2000_2017.csv',index_col='Date')
data.head()

                 MSFT      AAPL
Date
1999-12-31  38.965767  3.303425
2000-01-03  38.903194  3.596616
2000-01-04  37.589046  3.293384
2000-01-05  37.985374  3.341579
2000-01-06  36.712940  3.052405

## MSFT

In [2]:
returns = np.log(data/data.shift(1))
returns

                MSFT      AAPL
Date
1999-12-31       NaN       NaN
2000-01-03 -0.001607  0.085034
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514
...              ...       ...
2017-03-17  0.003552 -0.004988
2017-03-20  0.000924  0.010446
2017-03-21 -0.011151 -0.011518
2017-03-22  0.012690  0.011235
2017-03-23 -0.002463 -0.003542

[4334 rows x 2 columns]

In [ ]:
returns[['MSFT']].mean()

MSFT    0.000115
dtype: float64

In [9]:
returns[['MSFT']].mean() * 20

MSFT    0.002302
dtype: float64

In [10]:
returns[['MSFT']].std()

MSFT    0.019657
dtype: float64

In [11]:
returns[['MSFT']].std() * 250 ** 0.5

MSFT    0.310804
dtype: float64

## Apple

In [12]:
returns[['AAPL']].mean()

AAPL    0.000864
dtype: float64

In [13]:
returns['AAPL'].mean() * 250

np.float64(0.21608551229758935)

In [14]:
returns['AAPL'].std()

np.float64(0.027761934312069407)

In [15]:
returns['AAPL'].std() * 250 ** 0.5

np.float64(0.43895472339059544)

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

Covariance matrix:

In [16]:
cov = returns.cov()
cov

          MSFT      AAPL
MSFT  0.000386  0.000218
AAPL  0.000218  0.000771

In [18]:
cov_a = returns.cov() * 250
cov_a

          MSFT      AAPL
MSFT  0.096599  0.054592
AAPL  0.054592  0.192681

***

Correlation matrix:

In [17]:
corr = returns.corr()
corr

          MSFT      AAPL
MSFT  1.000000  0.400153
AAPL  0.400153  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [19]:
weights = np.array([0.5,0.5])

Portfolio Variance:

In [20]:
portfolio_var = np.dot(weights.T,np.dot(returns.cov() * 250 , weights))
portfolio_var

np.float64(0.09961622870546066)

Portfolio Volatility:

In [23]:
pfolio_vol = (np.dot(weights.T, np.dot(returns.cov() * 250, weights))) ** 0.5
pfolio_vol

np.float64(0.31562038702444534)

In [25]:
print(str(round(pfolio_vol ,5)*100) + '%')

31.562%