## Calculating the Beta of a Stock

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Load the data for Microsoft and S&P 500 for the period 1st of January 2012 â€“ 31st of December 2016.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('CAPM_Exercise_Data.csv',index_col='Date')
data.head()

                 MSFT        ^GSPC
Date
2012-01-03  23.031868  1277.060059
2012-01-04  23.573898  1277.300049
2012-01-05  23.814798  1281.060059
2012-01-06  24.184755  1277.810059
2012-01-09  23.866419  1280.699951

Let S&P 500 act as the market.

*****

Calculate the beta of Microsoft.

In [2]:
log_returns = np.log(data/data.shift(1))

In [8]:
cov = log_returns.cov() * 250
cov

           MSFT     ^GSPC
MSFT   0.053781  0.018208
^GSPC  0.018208  0.016361

In [9]:
cov_with_market = cov.iloc[0,1]
cov_with_market

np.float64(0.018208431910398934)

In [10]:
market_var = log_returns['^GSPC'].var() * 250
market_var

np.float64(0.01636059269926906)

** Beta: **
### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [11]:
beta = cov_with_market/market_var
beta

np.float64(1.1129445152199424)