## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Load the data for Microsoft (‘MSFT’) for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data = pd.read_csv('MSFT_AAPL_2000_2017.csv',index_col='Date')
data.head()

                 MSFT      AAPL
Date
1999-12-31  38.965767  3.303425
2000-01-03  38.903194  3.596616
2000-01-04  37.589046  3.293384
2000-01-05  37.985374  3.341579
2000-01-06  36.712940  3.052405

In [3]:
log_return = np.log(data/data.shift(1))
log_return.head()

                MSFT      AAPL
Date
1999-12-31       NaN       NaN
2000-01-03 -0.001607  0.085034
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514

### MSFT

Daily risk:

In [4]:
log_return['MSFT'].std()

np.float64(0.01965694884940363)

Annual risk:

In [5]:
log_return['MSFT'].std() * 252 ** 0.5

np.float64(0.31204438913903554)

### Apple

Daily risk:

In [6]:
log_return['AAPL'].std()

np.float64(0.027761934312069407)

Annual risk:

In [7]:
log_return['MSFT'].std() * 252 ** 0.5

np.float64(0.31204438913903554)

******

Store the volatilities of the two stocks in an array called “vols”.

In [10]:
vols = log_return[['MSFT', 'AAPL']].std() * 250 ** 0.5
vols

MSFT    0.310804
AAPL    0.438955
dtype: float64

How are the two risk values different?